# Gateway
GATEWAY_ADDR=:8080
GATEWAY_ALLOWED_ORIGIN=http://localhost:5173

# Internal service discovery
AUTH_GRPC_ADDR=localhost:50051
FRIENDS_GRPC_ADDR=localhost:50052
WEBSOCKET_UPSTREAM_URL=http://localhost:8081

# Auth service
AUTH_ADDR=:50051
AUTH_MONGO_URI=mongodb://localhost:27019
AUTH_MONGO_DB=userdb
JWT_SECRET=secret-key

# Friends service
FRIENDS_ADDR=:50052
FRIENDS_MONGO_URI=mongodb://localhost:27020
FRIENDS_MONGO_DB=friends_db

# Chat service
CHAT_ADDR=:8082
CHAT_MONGO_URI=mongodb://localhost:27018
CHAT_MONGO_DB=chatdb

# Redis
REDIS_ADDR=localhost:6379
REDIS_STREAM_CHAT=chat.message.created
REDIS_CHANNEL_CHAT=chat.message.persisted

# WebSocket service
WEBSOCKET_ADDR=:8081
